* {
    font-family: "Caskaydia Mono Nerd Font";
}

window#waybar {
    background-color: transparent;
}

#clock {
    font-size: 1.2rem;
    color: #e0def4;
    margin: 0px 16px 0px 8px;
}

#battery {
    margin: 1px 12px 0px 8px;
    color: #c4a7e7;
}
#battery.warning {
    color: #ea9a97;
}
#battery.critical {
    color: #eb6f92;
}

#memory {
    margin: 1px 8px 0px 8px;
    color: #c4a7e7;
}
#memory.warning {
    color: #ea9a97;
}
#memory.critical {
    color: #eb6f92;
}

#cpu {
    margin: 1px 8px 0px 8px;
    color: #c4a7e7;
}
#cpu.warning {
    color: #ea9a97;
}
#cpu.critical {
    color: #eb6f92;
}

#workspaces {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px 0px 0px 8px;
}

#workspaces button {
    border-radius: 10px 2px 10px 2px;
    border-color: transparent;
    background-color: #232136;

    padding: 1px 10px;
    margin: 0 12px 3px 0;
}

#workspaces button:hover {
    background-color: #56526e;
}

#workspaces button.active {
    background-color: #44415a;
}

#workspaces button.urgent {
    background-color: #eb6f92;
}
